BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
BraceWrapping:
  AfterControlStatement: false
  AfterFunction: false
  AfterEnum: false
  AfterStruct: false
  AfterUnion: false
AllowShortIfStatementsOnASingleLine: false
ColumnLimit: 80